{
    "presets": [
        [
            "env",
            {
                "targets":{
                    "browsers":["last 2 versions"]
                },
                "debug":true
            }
        ],
        "babel-preset-react",
        "babel-preset-stage-0"
    ],
    "plugins": [
        "babel-plugin-transform-runtime"
    ]
}




