@charset "UTF-8";
@import "./mixin.scss";
.footer{
    @include num(100%,50px);
    background:green;
}
.ul{
    @include num(100%,100%);
    display:flex;
    justify-content:space-around;
    align-items:center;
}