@charset "UTF-8";
@import "./mixin.scss";
*{
    margin:0;padding:0;
    box-sizing:border-box;
    color:#333;
}
html,body{
    @include num(100%,100%);
}
body{background:#ccc;}
ul,ol,li{
    list-style:none;
}
::webkit-input-placeholder{
    color:#666;
}
#reactRoot{
    @include num(100%,100%);
}
a{
    text-decoration:none;
    color:#333;
}
